---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import {getHomePageData} from "../services/hygraphRequests"
const homePageData = await getHomePageData()
console.log(homePageData)
---

<Layout title="Vanessa Brossard">
	<main>
		<p class="text-lg">hello world</p>
	</main>
</Layout>



