---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import {getHomePageData} from "../services/hygraphRequests"
const homePageData = await getHomePageData()
console.log(homePageData)
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-lg font-medium">hello world</h1>
	</main>
</Layout>


