<button
  type="button"
  class="inline-block bg-brand-1 px-6 pb-2 pt-2.5 w-40 text-xl uppercase leading-normal  transition duration-150 ease-in-out hover:bg-brand-1-hover focus:bg-brand-1 hover:text-brand-background font-worksans font-medium "
>
  <a
href="mailto:brossard_vanessa@yahoo.fr">Contact</a>

</button>
