<div class="absolute inset-0 gradient-filter"></div>
 <style>
		.gradient-filter{
			background-color: rgba(255,255,255,0.7);
		}
@media screen and (min-width: 400px) {
	.gradient-filter{
			background-color: transparent;
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
		}
}
	</style>