---
type Props = {
  title: string
color?:string
}
  const {title, color}= Astro.props
  const textColor= color? color : "inherit"
---

<h1 class=`text-2xl uppercase ${textColor} sm:text-4xl lg:text-5xl font-worksans font-normal  basis-0 grow`>{title}
</h1>