---
import HeroTitle from '../atoms/HeroTitle.astro';
import HeroSubtitle from '../atoms/HeroSubtitle.astro';
import ContactButton from '../atoms/ContactButton.astro';
type Props = {
  title: string
  subtitle:string
};
const {title, subtitle} = Astro.props
---
<div class="absolute md:static top-0 h-full w-full flex flex-col justify-center text-center p-3 md:p-16 md:px-20  gap-6 md:bg-brand-2 md:z-10">
<HeroTitle title={title} />
<HeroSubtitle subtitle={subtitle}/>
<div class="mx-auto" >
<ContactButton/>
</div>
</div>