---
import HeroTitle from './HeroTitle.astro';
import HeroSubtitle from './HeroSubtitle.astro';
import ContactButton from '../atoms/ContactButton.astro';
type Props = {
  title: string
  subtitle:string
};
const {title, subtitle} = Astro.props
---
<div class="absolute top-0 h-full  w-full sm:max-w-[75%] mx-auto flex flex-col justify-between text-center py-10 p-3 md:p-8  lg:gap-6">
<HeroTitle title={title} />
<HeroSubtitle subtitle={subtitle}/>
<div class="mx-auto" >
<ContactButton/>
</div>
</div>