---
type Props = {
    title:string
    shortContent:string
}
const {title,shortContent}= Astro.props
---

<h4 class="text-lg text-center mb-1 text-brand-4 whitespace-normal">
    {title}
</h4>
<p class="text-sm md:text-base">
    {shortContent}</p>
