---
import type { Practice } from "@/types/types"; 
type Props = {
    title:string
    shortContent:string
}
const {title,shortContent}= Astro.props
---

<h4 class="text-lg text-center mb-1 text-brand-4">
    {title}
</h4>
<p>{shortContent}</p>
