---
import Navbar from "@/components/organisms/Navbar.astro"
import Hamburger from "@/components/molecules/Hamburger.astro";

---
<!-- <div class="w-full z-100 fixed"> -->

<div class="bg-brand-1 text-brand-foreground w-full z-50 fixed">
  <div class="container mx-auto px-4">
<nav class="flex items-center justify-between h-16">
<div class="flex items-center">
        <a class="text-brand-4 text-4xl font-inspiration whitespace-nowrap" href="/"
          >Vanessa Brossard
        </a>
      </div>
      <Navbar/>
<div>
          <Hamburger />
          </div>
      </nav>
  </div>
  </div>
<!-- </div> -->
