---
import HeroImage from "@/components/molecules/HeroImage.astro";
import HeroContent from "../molecules/HeroContent.astro";
import type { HeroData } from "@/types/types";
type Props = {
  data: HeroData;
};
const { data } = Astro.props;
---

<div id="hero" class="relative w-full h-96 overflow-hidden">
    <div class="static inset-0 h-full">
        <HeroImage data={data.image} />
    </div>
    <HeroContent title={data.title} subtitle={data.subtitle}/>

</div>

