---
import PracticeItemImage from "@/components/atoms/PracticeItemImage.astro"
import PracticeItemContent from "../molecules/PracticeItemContent.astro";
import PracticeItemLine from "../atoms/PracticeItemLine.astro";
import type { Practice } from "@/types/types"; 
type Props = {
    practice: Practice
}
const {practice}= Astro.props
---

<div class="my-16 max-w-md mx-auto hover:scale-110 rounded-xl hover:shadow-lg transition-all p-6">
    <a href="#">
    <div class="flex justify-center">
    <PracticeItemImage image={practice.image[0]} />
    </div>
    <PracticeItemLine/>
    <PracticeItemContent title={practice.title} shortContent= {practice.shortContent}/>
</a>
</div>