---
import PracticeItem from "./PracticeItem.astro";
import type { Practice, Image } from "@/types/types"; 
type Props = {
    data: Practice[]
}
const {data}= Astro.props

---
<ul>
   {
    data.map((practice)=>(
<li>
    <PracticeItem practice={practice}/>
    </li>
    ))
   }
</ul>