---
import PracticeItem from "./PracticeItem.astro";
import type { Practice, Image } from "@/types/types"; 
type Props = {
    practices: Practice[]
}
const {practices}= Astro.props


---
<ul>
   {
    practices.map((practice)=>(
<li>
    <PracticeItem practice={practice}/>
    </li>
    ))
   }
</ul>