---
import PracticeItemImage from "@/components/atoms/PracticeItemImage.astro"
import PracticeItemContent from "../molecules/PracticeItemContent.astro";
import PracticeItemLine from "../atoms/PracticeItemLine.astro";
import type { Practice } from "@/types/types"; 
type Props = {
    practice: Practice
}
const {practice}= Astro.props

---

<div class="my-16 max-w-md mx-auto hover:scale-110 rounded-xl hover:shadow-lg transition-all p-6">
    <a href="#">
    <div class="flex justify-center">
    <PracticeItemImage image={practice.image[0]} />
    </div>
    <div data-aos="fade" data-aos-delay= "200" data-aos-offset= "200">
    <PracticeItemLine/>
    </div>
    <div data-aos="fade-down" >
    <PracticeItemContent title={practice.title} shortContent= {practice.shortContent}/>
    </div>
</a>
</div>

<script>
import AOS from 'aos';
import 'aos/dist/aos.css';
AOS.init();
</script>