---
import SectionBannerContent from "../molecules/SectionBannerContent.astro";
import type { Image } from "@/types/types";
type Props ={
    image?:Image
    title:string
    subtitle?:string
    color?:string
}
const {image,title,subtitle, color}=Astro.props
---
<div class="w-full  flex justify-center" >

    
<SectionBannerContent title= {title} subtitle= {subtitle} color={color}/>
</div>
