---
import SectionBannerImg from "@/components/molecules/SectionBannerImg.astro"
import SectionBannerContent from "../molecules/SectionBannerContent.astro";
import type { Image } from "@/types/types";
type Props ={
    image:Image
    title:string
    subtitle:string
}
const {image,title,subtitle}=Astro.props
---
<div class="relative w-full h-40 overflow-hidden flex justify-center ">
    <div class="static inset-0 h-full">
<SectionBannerImg data={image} />
</div>
<SectionBannerContent title= {title} subtitle= {subtitle} />
</div>