---
import ShowMoreBtn from "../atoms/ButtonShadow.astro";
import TreatmentAccordionContent from "../molecules/TreatmentAccordionContent.astro";
import type { Treatment } from "@/types/types";
type Props = {
  treatment: Treatment;
};
const { treatment } = Astro.props;
---

<div class="collapse collapse-arrow bg-white mt-4 rounded-none">
<input type="radio" name="my-accordion-2"  />
<div class="collapse-title text-xl font-medium">
  <h3>{treatment.title}</h3>
</div>
<div class="collapse-content">
    <p class="my-2">{treatment.shortContent}</p>
  {treatment.list && <TreatmentAccordionContent list={treatment.list} />}
  <div class="flex justify-center">
  <ShowMoreBtn content="En savoir plus" link={`/traitements#${treatment.slug}`}/>
  </div>
  </div>
</div>

